<div id="main-bg">
  <div class="main-text">
    <h1>{{title}}</h1>
    <form action="/drones/create">
      <a href="/drones/create" class="create-btn"> Create a new drone here!</a>
    </form>
  </div>
</div>